<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        欢迎您 :<span th:text="${user.name}"></span>
        <br>
        <span th:text="${#dates.format(#dates.createNow(),'YYYY-MM-dd')}"></span>
    </h1>
    <span th:text="'<font color=\'red\'>hello</font>'"></span><br>
    <span th:utext="'<font color=\'red\'>hello</font>'"></span>
    <h1>
        <span>字面值</span><br>
        <span th:text="1000 * 200"></span><br>
        <span th:text="${1==2}?'男':'女'"></span>
    </h1>
    <hr>
    <ul>
        <li th:each="user:${users}">
            <span th:text="${user.name}"></span>:<span th:text="${user.age}"></span>
        </li>
    </ul>
</body>
<script th:inline="javascript">
    const users = /*[[${users}]]*/[];
    console.log(users.length);
    for(let i in users){
        console.log(users[i]);
    }
</script>
</html>